.contacts__list {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  white-space: pre-line;
  padding-left: 0;
}

.contacts__item_geo {
  padding-left: 60px;
  background-image: url("../img/figma/location.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 32px 32px;
}

.contacts__item_call {
  padding-left: 60px;
  background-image: url("../img/figma/call.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 32px 32px;
}

.contacts__item_mail {
  padding-left: 60px;
  background-image: url("../img/figma/email.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 32px 32px;
}

.contacts-social__list {
  list-style-type: none;
  margin: 0;

}

.contacts-social__item{
  display: inline;
}

.contacts__map {
  flex-basis: 680px;
  background-image: url("../img/figma/map.jpg");
  height: 274px;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
}

.contacts-flex-box {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.contacts-social__link-instagram {
  content: "";
  background-image: url("../img/figma/entypo-social_instagram-with-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-right: 28px;
}

.contacts-social__link-vk {
  content: "";
  background-image: url("../img/figma/entypo-social_vk-with-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-right: 27px;
}

.contacts-social__link-facebook {
  content: url("../img/figma/facebook.svg");
  background-image: url("../img/figma/facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-right: 26px;
}

.contacts-social__link-telegram {
  content: "";
  background-image: url("../img/figma/telegram.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  display: inline-block;
}


