.contacts__list {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  white-space: pre-line;
  padding-left: 0;
}

.contacts__item_geo {
  padding-left: 60px;
  background-image: url("../img/figma/location.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 32px 32px;
}

.contacts__item_call {
  padding-left: 60px;
  background-image: url("../img/figma/call.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 32px 32px;
}

.contacts__item_mail {
  padding-left: 60px;
  background-image: url("../img/figma/email.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 32px 32px;
}

.contacts-social__list {
  list-style-type: none;
  margin: 0;

}

.contacts-social__item{
  display: inline;
}

.contacts__map {
  flex-basis: 680px;
  background-image: url("../img/figma/map.jpg");
  height: 274px;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: flex-end;
}

.contacts-flex-box {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-bottom: 145px;
}

.contacts-social__link {
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-right: 26px;
}


.contacts-social__svg {
  fill: #ffffff;
}

.contacts-social__svg:hover {
  fill: #EADEED;
}

.contacts-social__svg:active {
  fill: #CD06FF;
}

.contacts-social__svg:focus {
  fill: #EADEED;
}

.copyright-box {
  display: flex;
  flex-basis: 157px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  justify-content: space-between;
}

.design-by{
  flex-wrap: wrap;
  flex-basis: 157px;
  display: flex;
  justify-content: flex-end;
}

.copyright-box p{
  margin-bottom: 6px;
}

.design-by a:hover {
  color: #6C0287;
}
