.faq {
  position: relative;
  width: 100%;
}

.faq__question{
  margin: 0;
}

.faq-list__item{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  padding-right: 70px;
  padding-left: 70px;
  max-width: 1180px;
  min-height: 87px;
  position: relative;
  align-items: center;
}

.faq-list__item:nth-child(odd){
  background-color: #440F51;
  color: white;
}

.faq__button-white {
  background-image: url("../img/open.svg");
  background-color: inherit;
  width: 46px;
  height: 46px;
  outline: none;
  border: none;
  cursor: pointer;
}

.faq__button-purple {
  background-image: url("../img/open-purple.svg");
  background-color: inherit;
  width: 46px;
  height: 46px;
  outline: none;
  border: none;
  cursor: pointer;
}

.faq__button-white:hover {
  background-image: url("../img/figma/faqwhitehover.svg");
}

.faq__button-white:active {
  background-image: url("../img/figma/faqwhiteactive.svg");
}

.faq__button-purple:hover {
  background-image: url("../img/figma/faqhoverpurple.svg");
}

.faq__button-purple:active {
  background-image: url("../img/figma/faqactivepurple.svg");
}

@media (max-width: 1024px) {
  .faq {
    padding: 35px 0;
  }

  .faq-list__item {
    font-size: 20px;
    line-height: 24px;
    padding-left: 25px;
    padding-right: 20px;
    min-height: 70px;
  }

  .faq__button-white {
    background-image: url("../img/open-purple.svg");
  }

  .faq-list__item:nth-child(odd) {
    background-color: #fff;
    color: #1C1A1A;
  }
}

@media (max-width: 768px) {
  .faq-list__item {
    font-size: 18px;
    padding-left: 54px;
    padding-right: 65px;
    min-height: 70px;
  }
}

@media (max-width: 320px) {
  .faq {
    padding: 15px 0;
  }

  .faq-list__item {
    font-size: 12px;
    line-height: 16px;
    padding-left: 10px;
    padding-right: 13px;
    min-height: 46px;
    flex-basis: 30px;
  }

  .faq__button-white, .faq__button-purple {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
