.container-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__call {
  background-color: inherit;
  color: white;
  border: 3px solid #CD06FF;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 32px;
}

.menu {
  padding-bottom: 0;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigation__call:hover {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

.navigation__call:active {
  background-color: #640AA3;
}

.navigation__call:focus {
  background-color: #6C0287;
}
